# Python
__pycache__/
*.py[cod]
.venv/

# Environnement local
.env
.env.*

# Donnees brutes TLC (~8 Go) et lake local de test
data/*
lake_local/

# Docker / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

.vercel
.env*
